<h1>Contact Us</h1> <br>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A exercitationem cupiditate accusamus vitae incidunt impedit molestias facere quod pariatur nam?</p>

<!-- value gets set in the cotntroller -->
<p>Phone: <%= @phone %></p>
<%= link_to("Index", {:action => 'index'}) %> <br>
<%= link_to("Hello", {:action => 'hello'}) %> <br>
<%= link_to("About", {:action => 'about'}) %> <br>
<%= link_to("Contact", {:action => 'contact'}) %>